main {
    width: 100%;
    color: white;
    text-align: center;
    height: 100vh;
    padding: 5.5rem 1.5rem 4.25rem 1.5rem;
    background-image: url('/images/bg.png');
    background-attachment: fixed;

    h1 {
        font-size: 1.75rem;
        font-weight: 700;
        word-spacing: -0.018125rem;
        line-height: 2.25rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.625rem;
        margin-bottom: 4rem;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 5.5rem;
        background-color: $blue;
        border-radius: 0.625rem;
        border: none;
        margin-bottom: 1.5rem;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);

        p {
            text-align: center;
            margin: 0 4.125rem;
            color: white;
            font-size: 0.9375rem;
            word-spacing: 0.0175rem;
            font-weight: 400;
            line-height: 1.625rem;

            span {
                font-weight: 700;
            }
        }
    }

    form {
        width: 100%;
        background-color: white;
        border-radius: 0.625rem;
        border: none;
        padding: 1.5rem;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);

        input {
            width: 100%;
            min-height: 3.5rem;
            border-radius: 0.3125rem;
            border: 1px solid $border;
            margin-bottom: 1rem;
            padding: 0.9375rem 1.2125rem;
            color: $black;
            font-size: 0.875rem;
            font-weight: 600;
            word-spacing: 0.015625rem;
            line-height: 1.625rem;
        }

        button {
            width: 100%;
            min-height: 3.5rem;
            background-color: $green;
            padding: 0.9375rem 2.6875rem;
            border-radius: 0.3125rem;
            border: none;
            color: white;
            font-size: 0.9375rem;
            font-weight: 600;
            word-spacing: 0.0625rem;
            line-height: 1.625rem;
            margin-bottom: 0.5rem;
        }

        p {
            text-align: center;
            font-size: 0.6875rem;
            line-height: 1.3125rem;
            font-weight: 500;
            color: $grey;
            margin-bottom: 0;

            span {
                color: red;
                font-weight: 700;
            }
        }
    }
}